@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
$primary: #ffc938;
$white: #ffffff;
$black: #000000;
$first-font: 3.625rem;
$second-font: 3rem;
$third-font: 1.25rem;
$small-font: 0.938rem;
body {
  font-family: "Caudex", serif;
}
.btn-mine {
  background-color: $primary;
  border-radius: 0rem;
  padding: 0.55rem 3.45rem;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
.navbar {
  padding-bottom: 1rem;
  &-brand {
    transform: translateY(-1rem);
    &_img {
      width: 6rem;
      height: auto;
    }
  }
  .active {
    color: $primary !important;
  }
  &-nav {
    margin-top: -2rem;
    .nav-item {
      .nav-link {
        font-size: $third-font !important;
        padding: 1rem 2rem !important;
        color: $white;
        &:hover,
        &:active {
          color: $primary !important;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.993);
  box-shadow: 0 2px rgba(0, 0, 0, 0.308);
  z-index: 99999999;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  .navbar-brand {
    transform: translateY(0rem);
    &_img {
      width: 3rem;
    }
  }
  .nav-item {
    position: relative;
    &:nth-child(1):hover::after {
      content: " ";
      width: 8rem;
      height: 0.4rem;
      background-color: $primary;
      position: absolute;
      transition: all 0.2s;
      left: 0;
    }
    &:nth-child(2):hover::after {
      content: " ";
      width: 12rem;
      height: 0.4rem;
      background-color: $primary;
      position: absolute;
      transition: all 0.2s;
      left: 0;
    }
    &:nth-child(3):hover::after {
      content: " ";
      width: 12rem;
      height: 0.4rem;
      background-color: $primary;
      position: absolute;
      transition: all 0.2s;
      left: 1rem;
    }
    &:nth-child(4):hover::after {
      content: " ";
      width: 12rem;
      height: 0.4rem;
      background-color: $primary;
      position: absolute;
      transition: all 0.2s;
      left: 0;
    }
  }
  .navbar-nav {
    margin-top: 0rem;
  }
}
// HOME
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246_960_720.jpg)
      center center;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -9.6rem;
  display: flex;
  align-items: flex-end;
  .hero-content {
    padding: 3rem;
    font-weight: 400;
    color: #ffffff;
    width: 35%;
    h1 {
      font-size: $first-font;
      font-weight: 400;
    }
    p {
      font-size: 0.938rem;
      font-family: "Open Sans", sans-serif;
      line-height: 1.5rem;
      font-weight: 400;
    }
  }
}
/* Car specification */
.cs-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f5f5f5;
  a {
    color: $black !important;
  }
  a:hover {
    color: $black !important;
    text-decoration: none !important;
  }
  &-item {
    cursor: pointer;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $primary;
      transition: all 1s;
    }
    &:not(:last-child) {
      border-right: 2px #e7e7e7 solid !important;
    }
  }
}
/* Car Color Slider*/
.cc-slider {
  padding-top: 8rem;
  padding-bottom: 3rem;
  &-title {
    width: 55%;
    margin-bottom: 5rem;
    h2 {
      font-size: $first-font !important;
    }
  }
  .slider {
    padding-top: 1rem !important;
    width: 90%;
    margin: auto;
    position: relative;
    &-img {
      opacity: 0.7;
      width: 90%;
      &:hover {
        opacity: 1;
        transition: all 0.6s;
        transform: translateY(-0.2rem);
      }
    }
    &_caption {
      text-align: center;
      color: #575757;
      &:hover {
        text-decoration: none;
        color: $black;
      }
    }
  }

  .prev_arrow {
    font-size: $first-font;
    cursor: pointer;
    position: absolute;
    left: -4%;
    top: 10%;
    color: #575757;
    opacity: 0.2;
    text-align: center;
  }
  .next_arrow {
    font-size: $first-font;
    cursor: pointer;
    position: absolute;
    right: -4%;
    top: 10%;
    color: #575757;
    opacity: 0.2;
    text-align: center;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      padding: 0.5rem;
      button {
        border-radius: 1rem;
        border: 1px $primary solid;
        color: $white;
        background-color: $white;
        height: 0.5rem;
        font-size: 0rem;
      }
    }
    .slick-active {
      button {
        background-color: $primary;
        color: $primary;
      }
    }
  }
}
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246_960_720.jpg)
      center center;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -9.6rem;
  display: flex;
  align-items: flex-end;
  .hero-content {
    padding: 3rem;
    font-weight: 400;
    color: #ffffff;
    width: 35%;
    h1 {
      font-size: $first-font;
      font-weight: 400;
    }
    p {
      font-size: 0.938rem;
      font-family: "Open Sans", sans-serif;
      line-height: 1.5rem;
      font-weight: 400;
    }
  }
}
/* Car specification */
.cs-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f5f5f5;
  a {
    color: $black !important;
  }
  a:hover {
    color: $black !important;
    text-decoration: none !important;
  }
  .cs-menu-item {
    cursor: pointer;
    height: 6rem;
    border-right: 2px #e7e7e7 solid !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cs-menu-item:hover {
    background-color: $primary;
    transition: all 1s;
  }
  .cs-menu-item:last-child {
    border-right: 0px;
  }
}
/* Car Color Slider*/
.cc-slider {
  padding-top: 8rem;
  padding-bottom: 3rem;
  .cc-slider-title {
    width: 55%;
    margin-bottom: 5rem;
    h2 {
      font-size: $first-font !important;
    }
  }
  .slider {
    padding-top: 1rem !important;
    width: 90%;
    margin: auto;
    position: relative;
  }
  .slider-img {
    opacity: 0.7;
    width: 90%;
  }
  .slider-img:hover {
    opacity: 1;
    transition: all 0.6s;
    transform: translateY(-0.2rem);
  }
  a {
    text-align: center;
    color: #575757;
  }
  a:hover {
    text-decoration: none;
    color: $black;
  }
  .prev_arrow {
    font-size: $first-font;
    cursor: pointer;
    position: absolute;
    left: -4%;
    top: 10%;
    color: #575757;
    opacity: 0.2;
    text-align: center;
  }
  .next_arrow {
    font-size: $first-font;
    cursor: pointer;
    position: absolute;
    right: -4%;
    top: 10%;
    color: #575757;
    opacity: 0.2;
    text-align: center;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      padding: 0.5rem;
      button {
        border-radius: 1rem;
        border: 1px $primary solid;
        color: $white;
        background-color: $white;
        height: 0.5rem;
        font-size: 0rem;
      }
    }
    .slick-active {
      button {
        background-color: $primary;
        color: $primary;
      }
    }
  }
}
/**video-section********************/
.video-section {
  padding-top: 1.2rem;
  padding-bottom: 8rem;
  .video-section-title {
    padding-top: 1rem;
    padding-bottom: 2rem;
    h3 {
      font-size: $second-font !important;
    }
  }
  .video-text-one {
    font-size: 1.5rem;
  }
  .video-text-two {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: #626262;
  }
  .video {
    position: relative;
    cursor: pointer;

    .img-hover-one {
      position: absolute;
      top: 0rem;
      left: 0rem;
      z-index: 999;
      opacity: 0;
      visibility: hidden;
    }
    .img-hover-two {
      position: absolute;
      top: 0rem;
      left: 0rem;
      z-index: 1;
    }
  }
  .video:hover {
    .img-hover-one {
      opacity: 1;
      visibility: visible;
      transition: all 0.5s ease;
      transform: scale(1.01);
    }
  }
}
/**Icons Sections**/
.icon-section {
  padding-bottom: 3rem;
  .icon-section-title {
    text-align: center;
    margin-bottom: 3rem;
    h3 {
      font-size: $second-font;
    }
  }
  .icon-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icon-box {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    small {
      padding-top: 2rem;
      color: #626262;
      font-family: "Open Sans", sans-serif;
    }
  }
  .button-only {
    text-align: center;
    padding: 3rem 0rem;
  }
}
/*Home Footer Before / hfb**/
.home-footer-before {
  background-color: #d5d5d5;
  padding-top: 8rem;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  .hfb-title {
    margin-bottom: 2.5rem !important;
    width: 40%;
    margin: 0 auto;
    h3 {
      font-size: $second-font !important;
      text-align: center;
    }
  }
  .hfb-content {
    width: 80%;
    margin: auto;
    font-size: 1rem;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    line-height: 1.75rem;
    padding-bottom: 3rem;
    .hfb-text-one {
      text-align: end;
    }
  }
}
/**video-section********************/
.video-section {
  padding-top: 1.2rem;
  padding-bottom: 8rem;
  .video-section-title {
    padding-top: 1rem;
    padding-bottom: 2rem;
    h3 {
      font-size: $second-font !important;
    }
  }
  .video-text-one {
    font-size: 1.5rem;
  }
  .video-text-two {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: #626262;
  }
  .video {
    position: relative;
    cursor: pointer;

    .img-hover-one {
      position: absolute;
      top: 0rem;
      left: 0rem;
      z-index: 999;
      opacity: 0;
      visibility: hidden;
    }
    .img-hover-two {
      position: absolute;
      top: 0rem;
      left: 0rem;
      z-index: 1;
    }
  }
  .video:hover {
    .img-hover-one {
      opacity: 1;
      visibility: visible;
      transition: all 0.5s ease;
      transform: scale(1.01);
    }
  }
}
/**Icons Sections**/
.icon-section {
  padding-bottom: 3rem;
  .icon-section-title {
    text-align: center;
    margin-bottom: 3rem;
    h3 {
      font-size: $second-font;
    }
  }
  .icon-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icon-box {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    small {
      padding-top: 2rem;
      color: #626262;
      font-family: "Open Sans", sans-serif;
    }
  }
  .button-only {
    text-align: center;
    padding: 3rem 0rem;
  }
}
/*Home Footer Before / hfb**/
.home-footer-before {
  background-color: #d5d5d5;
  padding-top: 8rem;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  .hfb-title {
    margin-bottom: 2.5rem !important;
    width: 40%;
    margin: 0 auto;
    h3 {
      font-size: $second-font !important;
      text-align: center;
    }
  }
  .hfb-content {
    width: 80%;
    margin: auto;
    font-size: 1rem;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    line-height: 1.75rem;
    padding-bottom: 3rem;
    .hfb-text-one {
      text-align: end;
    }
  }
}
/*Footer Before*/
.footer-before {
  background-color: #3b3b3b;
  padding: 5rem 0rem;
  .company-details {
    h5 {
      font-size: $third-font;
      color: $white;
    }
    p {
      color: #dcdcdc;
      font-family: "Open Sans", sans-serif;
      font-size: $small-font;
    }
  }
  .shortcut-links {
    h4 {
      font-size: 1.6rem;
      color: $white;
    }
    a {
      color: #dcdcdc;
      font-size: $small-font;
      font-family: "Open Sans", sans-serif;
    }
    a:hover {
      color: #9e9e9e;
      transition: all 0.5s ease;
    }
    .fas {
      padding: 0.4rem;
      color: $primary;
    }
  }
}
/*main footer*/
.main-footer {
  background-color: #404040;
  color: #dcdcdc;
  padding: 2rem 0rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: $small-font;
  border-top: 0.5px #dcdcdc7c solid;
}
/*Modal*/
.modal {
  top: 25% !important;
  .modal-dialog {
    max-width: 40rem !important;
    .modal-content {
      background-color: #252525 !important;
      color: $white !important;
      border-radius: 0rem !important;
      a {
        color: $primary !important;
      }
    }
  }
}
/*Customize Page*/
.customize-header {
  background: #bdc3c7; /* fallback for old browsers */
  background: linear-gradient(
    to bottom,
    #2c3e50,
    #505050
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 50vh;
  margin-top: -10rem;
  display: flex;
  align-items: center;
  text-align: center;
  h1 {
    color: $white;
    font-size: $second-font;
    transform: translateY(5rem);
  }
}
.cc-section-one {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://themes.muffingroup.com/be/car/wp-content/uploads/2016/05/home_car_section_bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0rem;
  .accordion-title {
    margin-bottom: 3.5rem;
    h3 {
      font-size: $second-font;
    }
  }
  .accordion {
    .card {
      border: 0rem;
      border-left: 1px #ebebeb solid !important;
      border-radius: 0rem;
      .card-header {
        border-bottom: 0rem;
        box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, 0.04);
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 0.813rem;
        padding: 1rem 1.75rem !important;
        cursor: pointer;
        color: #5a5a5a;
        .fas {
          padding-right: 1.5rem;
        }
      }
      .card-body {
        .cb-title {
          font-size: 1.5rem;
        }
        .cb-text {
          font-size: $small-font;
          font-family: "Open Sans", sans-serif;
        }
        .cb-icon-text {
          div {
            margin-bottom: 1rem;
            color: #666666;
          }
          .fas {
            padding-right: 1rem;
          }
        }
      }
    }
  }
}
/*cc Section Two*/
.cc-section-two {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://themes.muffingroup.com/be/car/wp-content/uploads/2016/05/home_car_section_bg2.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
  .cc-two-content {
    .cc-two-title {
      h3 {
        font-size: $second-font;
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-size: $small-font;
      }
    }
    .cc-two-cards {
      .card {
        border-radius: 0rem;
        .card-body {
          text-align: center;
          h5 {
            font-size: 1.5rem;
          }
          p {
            font-family: "Open Sans", sans-serif;
            font-family: $small-font;
          }
          a {
            color: $primary;
            font-family: "Open Sans", sans-serif;
          }
          a:hover {
            color: #e4b638;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
/*cc Section Three*/
.cc-section-three {
  padding-bottom: 6rem;
  padding-top: 5rem;
  .cc-three-content {
    text-align: center;
    h3 {
      font-size: $second-font;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      font-family: "Open Sans", sans-serif;
      color: #757575;
      margin-bottom: 2rem !important;
    }
    .btn-mine {
      padding: 0.55rem 1rem;
    }
  }
}
/**specification page**/
.spec-header {
  margin-top: -10rem;
}
.cs-section-title {
  h3 {
    font-size: $second-font;
  }
}
.cs-section-text {
  p {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: #757575;
  }
}
.cs-section-one {
  padding: 6rem 0rem;
  .cs-table {
    padding-top: 2rem;
  }
}
.cs-section-two {
  padding-bottom: 4rem;

  .cs-section-text {
    p {
      font-size: $small-font;
      font-family: "Open Sans", sans-serif;
      color: #757575;
    }
  }
  .circle-progress {
    p {
      font-size: 1rem;
      color: #757575;
      padding-top: 1rem;
    }
    span {
      position: relative;
      top: 6.5rem;
      left: 0.2rem;
    }
  }
}
.cs-section-three {
  padding: 5rem 0rem;
  .progress-section {
    padding-top: 4rem;
    .before-bar {
      display: flex;
      justify-content: space-between;
      font-size: $small-font;
      margin-bottom: 0.5rem;
    }
    .per {
      background-color: rgba(220, 220, 220, 0.199);
      width: 1.6rem;
      height: 1.3rem;
      color: #757575;
    }
    .progress {
      margin-bottom: 2rem;
      height: 0.3rem !important;
      .progress-bar {
        background-color: $primary;
      }
    }
  }
}
.cs-section-four {
  padding: 5rem 0rem;
}

.others-icons {
  .other-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    .fas {
      font-size: $first-font !important;
      color: $primary;
      padding-right: 2rem;
    }
    .icon-content {
      h3 {
        font-size: $second-font;
      }
      p {
        font-size: $small-font;
        color: #9e9e9e;
      }
    }
  }
}
/**where to buy page**/
.wtb-header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://themes.muffingroup.com/be/car/wp-content/uploads/2016/05/home_car_section_bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10rem;
  display: flex;
  align-items: center;
  h1 {
    font-size: $second-font;
    text-align: center;
    color: $primary;
    padding-bottom: 3rem;
  }
}
.header-after {
  padding: 3rem 0rem;
  background-color: #f5f5f5;
  .ha-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-size: 2rem;
    }
    a {
      color: $black;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
.locate-section {
  padding-top: 4rem;
  .locate-icon {
    padding-right: 1rem;
    img {
      width: 3.5rem;
      height: 2rem;
    }
  }
  .space {
    height: 2rem;
  }
  h3 {
    font-size: $second-font;
    margin-bottom: 3rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: $small-font;
  }
  a {
    font-size: $small-font;
    color: $primary;
    display: block;
  }
}
.contact-us {
  background-color: #f8f8f8;
  padding: 6rem 0rem;
  margin-top: 4rem;
  .contact-us-title {
    h3 {
      text-align: center;
      font-size: $second-font;
      margin-bottom: 3rem;
    }
  }
  .form-control {
    border-radius: 0rem;
  }
  .contact-us-text {
    font-size: $small-font;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding-top: 2rem;
    color: #adadad;
  }
}

/****************************
Query
****************************/
@media (max-width: 400px) {
  .navbar-nav {
    height: 20rem;
  }
  .customize-header {
    .hero-content {
      h1 {
        font-size: 2rem !important;
      }
    }
  }
}
@media (max-width: 550px) {
  .hero-content {
    padding: 0rem !important;
    padding-bottom: 2rem !important;
    width: 100% !important;
    h1 {
      font-size: $second-font !important;
    }
  }
  .hamburger {
    cursor: pointer !important;
    transform: translateY(0.2rem) !important;
    .line {
      width: 2rem;
      height: 0.2rem;
      background-color: #ffffff;
      margin-bottom: 0.5rem;
    }
  }
  .navbar-nav {
    position: fixed;
    top: 8rem;
    left: 45% !important;
    background-color: rgba(0, 0, 0, 0.879);
    color: $white !important;
    width: 55% !important;
    flex-direction: column !important;
    transform: translateX(18rem);
    transition: all 0.5s ease-out;
  }

  .cc-slider {
    padding-top: 2rem !important;
    .cc-slider-title {
      h2 {
        font-size: $second-font !important;
      }
    }
  }
  .cc-slider-title {
    width: 100% !important;
  }
  .icon-section {
    margin-top: 10rem;
  }
  .hfb-title {
    width: 100% !important;
  }
  .hfb-text-one {
    text-align: start !important;
  }
  .cs-section-one {
    padding-top: 2rem !important;
    padding-bottom: 4rem !important;
  }
  .cs-section-three {
    padding: 2rem 0rem !important;
  }
  .cs-section-four {
    padding-top: 1.5rem !important;
  }
  .ha-wrapper {
    flex-direction: column !important;
    h4 {
      margin-bottom: 2rem;
    }
  }
  .pfq {
    margin-bottom: 1rem;
  }
}
@media (max-width: 778px) {
  .hero-content {
    padding: 0rem !important;
    padding-bottom: 5rem !important;
    width: 60% !important;
    margin: auto;
  }
  .cc-section-one {
    background-position: right !important;
  }
  .cc-section-two {
    background-position: left !important;
  }
  .cc-two-cards {
    h5 {
      font-size: 1rem !important;
      font-weight: 700;
    }
    p {
      font-size: 0.8rem !important;
    }
  }
  .cc-three-content {
    h3 {
      font-size: 2.5rem !important;
    }
  }
  .cc-slider-title {
    width: 100% !important;
  }
  .hfb-title {
    width: 100% !important;
  }
  .hamburger {
    cursor: pointer;
    transform: translateY(0.2rem);
    .line {
      width: 2rem;
      height: 0.2rem;
      background-color: #ffffff;
      margin-bottom: 0.5rem;
    }
  }
  .navbar-nav {
    position: fixed;
    top: 8rem;
    left: 70%;
    background-color: rgba(0, 0, 0, 0.879);
    color: $white !important;
    height: 20rem;
    width: 31%;
    flex-direction: column !important;
    justify-content: space-around;
    transform: translateX(18rem);
    transition: all 0.5s ease-out;
    z-index: 9999;
  }
  .open {
    transform: translateX(0rem) !important;
  }
  .sticky {
    .navbar-nav {
      top: 3.5rem !important;
    }
  }
}
@media (max-width: 1024px) {
  .hero-section {
    height: 70vh !important;
  }
  .hero-content {
    padding: 0rem !important;
    padding-bottom: 5rem !important;
    width: 80% !important;
  }
}
